<%- contentFor('body') %>

		<h2>Contatos</h2>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Nome</th>
					<th>Telefone</th>
				</tr>
			</thead>
			<tbody>
				<% contacts.forEach(contato => {
					console.log(contato.nome)%>
					<tr>
						<td><% contato.nome %></td>
						<td><% contato.telefone %></td>
					</tr>
				<% }); %>
			</tbody>
		</table>

	<p>Selecione a opção desejada:</p>

	<a href="/contatos/"><button class="btn btn-primary">Incluir</button></a>
